{% extends 'base.html' %}

{% block content %}
<style>
    .tag-item {
        background-color: #2d2d2d;
        border-radius: 3px;
        padding: 3px;
    }

    #tags {
        overflow-x: hidden;
        white-space: nowrap;
    }

    body{
        background-color:#010101;
    }
</style>

        <div class="bg-[#010101] pb-2" id="logo-section">
        <a href="dashboard"><img class="max-w-45 mx-auto md:mx-0"
                src="{{ url_for('static', filename='images/PikeNetLogoFlat.png') }}"></a>
        </div>
        <div class="bg-[#1f1f1f] p-5" id="header-bar">
            <h1>create a pikenet loading animation</h1>
            <h2>cool themed loading phrases. Assembling the Pikemen, Sharpening the Pikes...</h2>
        </div>
    <div class="pt-5 p-3">
        <!-- Hide this section and dont allow entries if youre not authenticated-->
        <div id="quick-add-section" class="max-w-[100%] flex">
            <div class="input-wrapper mx-auto w-[80%]">
                <input id="added-note-title" class="bg-[#1f1f1f] text-[#e6e6e6] w-[100%] hover:cursor-pointer" type="text" required
                    placeholder="Quick add..." />
            </div>
        </div>

        <h2 class="text-white" id="recent-additions"><span class="space-mono-bold">Recent additions</span></h2>

        <h2 class="text-white space-mono-bold">Searh by tag</h2>
    </div>
<script>
    document.getElementById("added-note-title").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            const value = this.value;
            if (value !== "") {
                console.log("Entered value:", value);
                addnoteQuick(value);
            }
            this.value = ""

            // You can also call a function here, or redirect, etc.
        }
    });

    async function addnoteQuick(title) {
        const response = await fetch("/addnote-submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ title })
        });

        const result = await response.json();
        window.location = "intelstack";
        console.log("RESPONSE: " + result);
    }

    async function getMostRecent() {
        const response = await fetch("/get-most-recent", {});
        const result = await response.json();

        const container = document.getElementById('recent-additions');
        result.forEach(element => {
            const mainDiv = document.createElement('div');

            mainDiv.classList.add("bg-[#1f1f1f]");
            mainDiv.classList.add("p-2");
            mainDiv.classList.add("mb-2");

            const titleElement = document.createElement('a');
            titleElement.href = "show-note?id=" + element.id;
            titleElement.textContent = element.title;
            titleElement.classList.add("space-mono-bold");
            titleElement.classList.add("text-white");
            //titleElement.classList.add("space-mono-bold");

            mainDiv.appendChild(titleElement)
            // Set the text content of the new element

            const tagDiv = document.createElement('div');
            tagDiv.id = "tags";
            tagDiv.classList.add("pt-1");
            tagDiv.classList.add('text-yellow-200');
            tagDiv.classList.add('flex');
            tagDiv.classList.add('flex-row');
            tagDiv.classList.add('gap-1');
            // Append the new element to the container
            mainDiv.appendChild(tagDiv)
            container.appendChild(mainDiv);

            if (element.tags.length == 0) {
                const tag = document.createElement('p');
                tag.classList.add('tag-item');
                tag.classList.add('text-red-400');
                tag.textContent = "No Tags";

                tagDiv.appendChild(tag)

                return
            } else {
                element.tags.forEach(noteTag => {
                    console.log("tag: " + noteTag)
                    const noteTagElement = document.createElement('p');
                    noteTagElement.classList.add('tag-item');
                    noteTagElement.textContent = noteTag;
                    tagDiv.appendChild(noteTagElement);
                });
            }

            console.log(element.id)
        });
    }
    //getMostRecent();
</script>
{% endblock %}
