{% extends 'base.html' %}

{% block content %}
<style>
#image-container img{
  margin:10px;
  width:180px;
  height:180px;
  display:flex; 
}
</style>
<body>
  <h1 class="space-mono-bold">Universal Yums</h1>
  <div >
    <img class="mx-auto max-h-[10vh]" src="{{ url_for('static', filename='images/SnackboxLogo.png') }}"/> 
  </div>
  <main class="bg-[#0133a3]">
    <div class="mx-[400px]" id="image-container"></div>
  </main>
</body>
<script>
  // Fetch the JSON list of images
  fetch('/snackbox/image-list')
      .then(response => response.json())
      .then(images => {
          const container = document.getElementById('image-container');

          images.forEach(url => {
              const img = document.createElement('img');
              img.src = "image/" + url;
              img.alt = 'Image';
              img.style.width = '200px';
              img.style.margin = '10px';
              container.appendChild(img);
          });
      })
      .catch(error => {
          console.error('Error fetching images:', error);
      });
</script>
  {% endblock %}
