{% extends 'base.html' %} {% block content %}
<div>PikePay</div>

{% if auth > 0 %}
<p>Customer View</p>
<a href="/pikepay/loan-request-initial"
  ><button id="adminButton">Request Personal Loan</button></a
>
{% else %}
<p>Employee View</p>

<button id="adminButton">Review Loan Requests</button>

{% endif %}

<div id="loanForm">
  <p>Requester Name</p>
  <p>Loan Ammount</p>

  Lender Specifics
  <p>Collateral Present: yes or no</p>
  <p>Collateral Form: Repossession, Stock, Asset</p>
  <p>Collateral Value:</p>
  <p>Payment</p>
</div>

<script>
  authvalue = {{ auth }};
  username = "{{ username }}"
</script>

Use this to force a tab change on the kiosk so you can send it to
kiosk-signature-TOKENIDHERE which will have it be the signature pad for this
contract you must first ssh into the kiosk at pikepaykiosk or 192.168.50.9
OLDTAB=$(curl -s http://localhost:9222/json | grep -o
'"id"[[:space:]]*:[[:space:]]*"[^"]*' | head -n 1 | cut -d'"' -f4) curl -X PUT
"http://localhost:9222/json/new?https://google.com" sleep 1 curl -X PUT
"http://localhost:9222/json/close/$OLDTAB" {% endblock %}
