<!doctype html>
<style>
    .tag-item {
        background-color: #2d2d2d;
        border-radius: 3px;
        padding: 3px;
        white-space: nowrap;
    }

    .tag-item:hover {
        color: red !important;
    }

    .tag-holder-edit-mode {
        flex-wrap: wrap;
    }
</style>
<html>

<head>
    <script src="{{ url_for('static', filename='Popups.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='SimpleAnimations.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#010101]" id="body">
    <div class="bg-[#010101] pb-2" id="logo-section">
        <a href="dashboard"><img class="max-w-45 mx-auto md:mx-0"
                src="{{ url_for('get_official_image', filename='PikeNetLogoFlat.png') }}"></a>
    </div>
    <div class="bg-[#1f1f1f] p-5" id="header-bar">
        <p>show black box at the bottom when you click edit mode with an input field. whatever you type shows up as tags
            (as many as you can show so have overflow hidden) and you can click them or press tab to autocomplete</p>
    </div>
    <main class="p-3">
        <!-- Hide this section and dont allow entries if youre not authenticated-->
        <h1 id="note-title" class="text-white space-mono-bold text-center text-xl">Loading Title...</h1>
        <div id="tag-holder" class="tag-holder-edit-mode text-yellow-200 max-w-[100%] mt-2 mb-2 flex gap-2 flex-row">
        </div>
        <div id="quick-add-section" class="max-w-[100%] flex">
            <div id="tag-input-wrapper" class="input-wrapper mx-auto w-[80%]">
                <input id="added-tag" class="hidden bg-[#1f1f1f] text-[#e6e6e6] w-[100%]" type="text" required
                    placeholder="Add tag..." />
            </div>
            <input id="autocomplete-input" class=" bg-[#1f1f1f] text-[#e6e6e6] w-[100%]" type="text" required
                placeholder="Add tag..." />
        </div>

        <div id="note-description" class="text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel congue ligula. Vestibulum ac
            facilisis ligula. Morbi ut felis leo. Donec rutrum ligula quis metus interdum scelerisque. Nulla condimentum
            magna quis rutrum scelerisque. Quisque ligula ante, dictum vel nisi at, vulputate euismod purus. Vivamus
            tempus urna sit amet tortor imperdiet laoreet. Praesent tincidunt, dui vel convallis tincidunt, ligula augue
            tempus mauris, quis ultricies lacus nulla in odio.

            Duis lobortis auctor nunc in lacinia. Nulla eget lacus in lectus viverra vulputate et at velit. Integer
            rhoncus arcu ut pretium aliquam. Cras ut malesuada nibh. Suspendisse sollicitudin elit purus, sed placerat
            sem tristique sit amet. Pellentesque finibus tellus vel mi elementum, ac semper arcu finibus. Etiam lacus
            justo, elementum id turpis in, luctus dignissim nunc. Mauris nec dolor gravida arcu dignissim fringilla.
            Proin suscipit, metus eget auctor porttitor, purus neque egestas turpis, vel commodo neque lorem ut ante.

            Vestibulum a dolor velit. Ut pellentesque vulputate velit ut consectetur. Vivamus et mi massa. Cras
            fringilla risus nisl. Vestibulum placerat ipsum a est congue egestas. Suspendisse et tincidunt nibh. Donec
            pharetra aliquam nulla a rhoncus. Morbi ac pellentesque nulla.

            Mauris vitae fringilla nisl. Maecenas ac tellus vehicula, sodales turpis id, sodales nunc. Mauris mattis,
            ligula ac porta pretium, nisl ipsum porttitor orci, imperdiet porttitor ipsum purus ut purus. Sed et risus
            semper erat posuere accumsan vel vel nibh. Phasellus tincidunt ut justo eget gravida. Aenean ac laoreet
            dolor, ac laoreet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et tellus eu est
            maximus consectetur. Sed rhoncus ligula a ligula mollis accumsan.

            Sed eu lacus eu mauris vestibulum porttitor. Vivamus posuere aliquet urna vitae egestas. Suspendisse tempor
            lacus sit amet ante molestie, ut auctor orci feugiat. Vestibulum feugiat nibh at consectetur aliquet. Morbi
            vel quam sit amet lacus pretium pharetra tristique quis elit. Fusce sed metus ultrices, imperdiet eros ut,
            porttitor diam. Mauris malesuada, risus nec gravida ornare, justo leo venenatis nulla, nec sollicitudin mi
            felis vitae risus. Vestibulum purus quam, aliquam cursus dignissim ac, tincidunt et ante. Praesent accumsan
            sapien ante, et imperdiet urna posuere ac. Curabitur vehicula odio ac porta tempus. Proin efficitur eget
            libero eu ullamcorper
        </div>

    </main>
</body>
<script>
    let data = '{{data|tojson}}'
    data = JSON.parse(data)

    id = data.id;
    tags = data.tags

    let editMode = false;
    let allTags = [];
    document.getElementById("note-title").textContent = data.title;
    document.getElementById("added-tag").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            const value = this.value;
            if (value !== "") {
                console.log("Entered value:", value);
                addTag(value);
            }
            this.value = ""
        }
    });

    function showTags() {
        const tagHolder = document.getElementById("tag-holder");
        tags.forEach(element => {
            const newTag = document.createElement('p');
            newTag.classList.add('tag-item');
            newTag.textContent = element;
            tagHolder.appendChild(newTag)
            newTag.onclick = function () {

                if (editMode) {
                    // If clicked in edit mode, delete the tag from this note
                    console.log("You click tag: " + element)
                } else {

                }

            };
        });
    }
    showTags();

    async function getAllTags() {
        const response = await fetch("/get-all-tags");

        const result = await response.json();
        allTags = result;
        console.log(allTags);
    }
    // Ideally only call this after you go into edit mode to reduce overhead of every load
    getAllTags()

    async function addTag(tagName) {
        const response = await fetch("/add-tag-submit", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ tagName, id })
        });

        const result = await response.text();
        if (result === "Success") {
            window.location = "/show-note?id=" + id;
        }
        console.log("RESPONSE: " + result);
    }

    function changeEditMode() {
        if (editMode) {
            document.getElementById("added-tag").classList.add("hidden");
            document.getElementById("body").classList.remove("no-scroll")
            console.log("edit mode disabled");

        } else {
            document.getElementById("added-tag").classList.remove("hidden");
            document.getElementById("body").classList.add("no-scroll")
            console.log("edit mode enabled");
        }
        editMode = !editMode;
    }

    const inputField = document.getElementById("autocomplete-input");
    inputField.addEventListener("input", () => {
        const inputValue = inputField.value.toLowerCase();

        // Filter matches
        const matches = allTags.filter(entry =>
            entry.name.toLowerCase().startsWith(inputValue)
        );

        // Log matches to console
        console.clear(); // Optional: clean up console on each input
        console.log("Matches:", matches);
    });
</script>

</html>