<!doctype html>

<html>

<head>
  <script src="{{ url_for('static', filename='Popups.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='Fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='SimpleAnimations.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-black">
  <main>
    <h1 class="text-white space-mono-bold">This is the dashboard</h1>
    <h1 class="text-white space-mono-regular">youll still be allowed here as a guest, but nothing will be saved and you
      cant access certain things</h1>
    <h1 class="text-white space-mono-regular">create a default admin account that makes you change the password first
      login, but can be used to choose other admins</h1>
    <h2 class="text-white space-mono-regular">PSOC ( Pikenet Security Operations Center )</h2>
    <h2 class="text-white space-mono-regular">Intel Stack ( Note taking app with tags )</h2>
    <h2 class="text-white space-mono-regular">Use pastel colors for each of the sections logos, for example blue pikenet
      logo with yellow intelstack logo</h2>
    <a class="text-white space-mono-regular" href="wake-pc">Turn on pc</a>
    <a class="text-white space-mono-regular" href="kill-pc">Kill pc</a>
    <a class="text-white space-mono-regular" href="intelstack"> Go to intel stack</a>
  </main>
</body>

</html>